<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ben Vanik</string>
	<key>CFBundleDisplayName</key>
	<string>WebGL Inspector</string>
	<key>CFBundleIdentifier</key>
	<string>org.noxa.experiments.webglinspector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.11</string>
	<key>CFBundleVersion</key>
	<string>1.11</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>inspectToggle</string>
				<key>Identifier</key>
				<string>inspectToggle</string>
				<key>Image</key>
				<string>webgl-16.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Inspect</string>
				<key>Palette Label</key>
				<string>WebGL Inspector</string>
				<key>Tool Tip</key>
				<string>Debug with WebGL Inspector</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>contentscript.js</string>
			</array>
		</dict>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/downloads/benvanik/WebGL-Inspector/safari-update.plist</string>
	<key>Website</key>
	<string>http://noxa.org</string>
</dict>
</plist>
