#*#
*.a
*.bak
*.diff
*.gmo
*.o
*.lo
*.orig
*.pot
*.pox
*.rej
*.swp
*.wav
*_gen.c
*_gen.h
*~
.#*
.deps
.libs
.svn
Freeciv.h
Makefile
Makefile.in
POTFILES
TAGS
acinclude.m4
aclocal.m4
autom4te.cache
cat-id-tbl.c
charset.alias
fcgui
.vagrant
freeciv-gtk2
freeciv-gtk3
freeciv-sdl
freeciv-xaw
freeciv-qt
*.sav.gz
civgame.log
freeciv-server
config.cache
config.guess
fc_config.h
fc_config.h.in
config.log
config.status
config.sub
configure
core
depcomp
freeciv-*.tar.gz
install-sh
missing
mkinstalldirs
ref-add.sed
ref-del.sed
fcser
stamp-cat-id
stamp-h
stamp-h1
stamp-h.in
tags
undep.sh
freeciv-manual
freeciv-modpack
freeciv.spec
libtool
tolua
freeciv-*.sav*
freeciv-score.log
freeciv-chat.log
target/
*.class
tornado*
resin*
freeciv-web.project
configuration.sh.dist
freeciv-web/src/main/webapp/META-INF/context.xml
models.zip

