# Sveinung Kvilhaugsvik
Sveinung Kvilhaugsvik <sveinung84@users.sourceforge.net>

# Andreas Røsdal
Andreas Røsdal <andreas.rosdal@gmail.com>
Andreas Røsdal <andreas.rosdal@gmail.com> <roeschdal@gmail.com>
<andreas.rosdal@gmail.com> <andreas@andreaspc.rosdalnet>
<andreas.rosdal@gmail.com> <andreas@linux.(none)>
Andreas Røsdal <andreas.rosdal@gmail.com> freecivnet <freecivnet@gmail.com>
