<div id="city_tabs">
  <ul>
    <li><a href="#city_tabs-1">Overview</a></li>
    <li><a href="#city_tabs-2">Production</a></li>
    <li><a href="#city_tabs-3">Traderoutes</a></li>
    <li class="extra_tabs_big"><a href="#city_tabs-4">Settings</a></li>
    <li class="extra_tabs_small"><a href="#city_tabs-6">Units/buildings</a></li>
  </ul>

  <div id="city_tabs-1">
    <div id="city_overview_tab" class="citydlg_tabs">
    <div id="city_viewport">
    <div id="specialist_panel">
    </div>
    
    <div class="city_panel">
      <div id="city_canvas_div">
            <canvas id="city_canvas" width="350" height="175" moz-opaque="true"></canvas>
      </div>
    </div>

    <div class="city_panel">
      <div id="city_dialog_info">
	  <div><b>City information:</b></div>
	  <div style="float:left;">
	  <span id="city_size"></span>
	  <div id='city_production_overview'></div>
	  <div id='city_production_turns_overview'></div>
	</div>
	<div style="float: left; margin-top: -20px; padding-left: 20px;"> 
	  <table id="city_stats">
	  <tr><td>Food: </td><td id="city_food"></td></tr>
	  <tr><td>Prod: </td><td id="city_prod"></td></tr>
	  <tr><td>Trade: </td><td id="city_trade"></td></tr>
	  <tr><td>Gold:: </td><td id="city_gold"></td></tr>
	  <tr><td>Luxury: </td><td id="city_luxury"></td></tr>
	  <tr><td>Science: </td><td id="city_science"></td></tr>
	  <tr><td>Corruption: </td><td id="city_corruption"></td></tr>
	  <tr><td>Waste: </td><td id="city_waste"></td></tr>
	  <tr><td>Pollution: </td><td id="city_pollution"></td></tr>
  	  </table>
        </div>
      </div>

    </div>
    <div id="city_improvements_panel" class="city_panel">
      <div style="clear: left;"></div>
      <div id="city_improvements">
        <div id="city_improvements_title">City Improvements:</div>
        <div id="city_improvements_list"></div>
      </div>
      
      <div id="city_present_units" >
        <div id="city_present_units_title">Present Units:</div>
        <div id="city_present_units_list"></div>
      </div>

      <div id="city_supported_units" >
        <div id="city_supported_units_title">Supported Units:</div>
        <div id="city_supported_units_list"></div>
      </div>

    </div>


  </div>
  </div>
  </div> 
  <div id="city_tabs-2">
    <div id="city_production_tab" class="citydlg_tabs">
      <div id='worklist_left'>
        <div id='worklist_dialog_headline'></div>
        <div id='worklist_heading'>Target Worklist:</div><div id='city_current_worklist'></div>
      </div>
      <div id='worklist_right'><div id='tasks_heading'>Source tasks:</div><div id='worklist_production_choices'></div></div>
      <div id='prod_buttons'>
        <button type="button" class="button" onClick="city_change_production();" >Change Production</button>
        <button type="button" class="button" onClick="city_add_to_worklist();" >Add to worklist</button>
      </div>
    </div>
  </div> 
  <div id="city_tabs-3">
    <div id="city_traderoutes_tab" class="citydlg_tabs"></div>
  </div> 
  <div id="city_tabs-4">
    <div id="city_settings_tab" class="citydlg_tabs">
      <div id="city_disband_options" >
        <input id="disbandable_city" type="checkbox" name="disband_city0" value="disband_city0">Disband city if built settler at size 1.
      </div>

    </div>
  </div> 
  <div id="city_tabs-6" class="citydlg_tabs">
    <div id="city_units_tab"></div>
  </div> 
 
</div>  
