/Makefile.in
/Makefile
/.deps
/meta_edit_utype.cpp
/meta_effect_edit.cpp
/meta_req_edit.cpp
/meta_requirers_dlg.cpp
/meta_ruledit_qt.cpp
/meta_tab_building.cpp
/meta_tab_enablers.cpp
/meta_tab_extras.cpp
/meta_tab_good.cpp
/meta_tab_gov.cpp
/meta_tab_misc.cpp
/meta_tab_nation.cpp
/meta_tab_tech.cpp
/meta_tab_terrains.cpp
/meta_tab_unit.cpp
/freeciv-ruledit
/freeciv-ruledit.desktop
/freeciv-ruledit.appdata.xml
