[Config]
smtp_login = postmaster@freecivweb.info
smtp_password = password
smtp_host = smtp.mailgun.org
smtp_port = 587
smtp_sender = Freeciv-web <postmaster@freecivweb.info>

mysql_user = root
mysql_database = freeciv_web
mysql_password = vagrant

savegame_directory = /var/lib/tomcat8/webapps/data/savegames/pbem/
ranklog_directory = /var/lib/tomcat8/webapps/data/ranklogs/
