[Config]
smtp_login = postmaster@freecivweb.info
smtp_password = password
smtp_host = smtp.mailgun.org
smtp_port = 587
smtp_sender = Freeciv-web <postmaster@freecivweb.info>

mysql_user = #DB_USER#
mysql_database = #DB_NAME#
mysql_password = #DB_PASSWORD#

savegame_directory = /var/lib/tomcat8/webapps/data/savegames/pbem/
ranklog_directory = /var/lib/tomcat8/webapps/data/ranklogs/

host = #FCW_HOST#
