body {
  background-image:url('/images/bg.jpg');

}

.metatable {
  width: 100%;
  text-align: left;
}

.metaspan {
  padding: 5px;
  width: 99%;
  font-size: 1.1em;
  text-align: center;
}

.metainfotable {
  width:  80%;
  background: rgba(1,1,1,0.1);
}

.meta_header th {
  text-align: left;
  background-color: white;
}

table, th, td
{
  border: 1px solid white;
}

.private_game {
  color: grey;
}

.running_game {
  font-weight: bold;
}

.pregame_with_players {
  color: green;
  font-weight: bold;
}

.message_box {
  font-size: 1.5em;
}

.server_message, .server_stats, .variables_table, .metainfotable {
  background: rgba(255,255,255,0.5);
}

.freeciv_game_info_box {
  background: rgba(0,0,0,0.1);
}


@media (max-width: 600px) {
 table.singleplayer th:nth-child(2) {
   display: none;
 }
  table.singleplayer td:nth-child(2) {
   display: none;
 }

 table.singleplayer th:nth-child(3) {
   display: none;
 }
  table.singleplayer td:nth-child(3) {
   display: none;
 }
 table.multiplayer th:nth-child(3) {
   display: none;
 }
  table.multiplayer td:nth-child(3) {
   display: none;
 }
 table.multiplayer th:nth-child(5) {
   display: none;
 }
  table.multiplayer td:nth-child(5) {
   display: none;
 }
  table.pbem td:nth-child(5) {
   display: none;
 }
  table.pbem th:nth-child(5) {
   display: none;
 }


}

#scores {
  background-color: white;
  height: 400px;
  width: 80%;
  display: none;
}
