body
{
  font: 90% sans-serif; 
  margin: 0px;
  background: #000000;
  overflow: hidden;
}

button { 
  margin: .2em .2em .2em 0; 
  cursor: pointer; 
  padding: .2em .6em .3em .6em; 
  line-height: 1.4em; 
  width:auto; 
  overflow:visible; 
}

.demoHeaders { 
  margin-top: 0px; 
}

.ui-tabs .ui-tabs-panel {
  border-width:0;
  display:block;
  height:92%;
  padding:0px;
}

#freeciv_logo {
  float:left; 
  background: #444444 url(/images/freeciv-web-logo.png);
  width: 140px; 
  height: 37px; 
  margin-right: 10px;
}

#game_logo {
  width: 100%;
  height: 50px;
  background-color: #aaaaff;
}


#game_message_area {
  /*background: #222222 url(/images/black-bg.png); */

  height: 70px;
  width: 98%;
  overflow: auto;
  border: 1px solid #111111;
}

#game_chat_box {
  width: 100%;
  height: 20px;
}

#game_text_input {
  width: 98%;
  border: 1px solid #555555;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}


#game_overview_map {
  float: left;
  height: 150px;
  text-align: center;
}


#overview_map {
  cursor:crosshair;
  border: 1px solid #555555;
  height: 140px;
}


#game_action_panel {
  float: right;
  color: white;
  padding-left: 5px;
  padding-right: 10px;
  overflow: hidden;
}

#game_unit_info {
  float: left;
  color: white;
  width: 100%;
  overflow: hidden;
  margin-top: -15px;
}

#unit_text_details {
  float:left;
  width: 135px;

}

#end_game_turn_panel {
  float: right;
  width: 120px;
}



.order_button {
  overflow: hidden;
  padding-right: 12px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

#ie_canvas {
  overflow: hidden;
  position: relative;
}

#city_ie_canvas {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 150px;
}

#turn_done_button_div {
  position: absolute;
  padding: 5px;
  right: 0;
  top: 0;
}

#turn_done_button {
  float: left;
}

.main_menu_buttons {
  padding:20px
}

#city_canvas_div {
  width: 350px; 
  height: 175px; 
  margin: 5px;
  border: 1px solid #888888;
  float: left;
}

#city_dialog_info {
  float: left;
  padding: 10px;

}

#city_button_pane {
  clear: left; 
  margin: 20px;
}


.city_panel {
  background: url("/images/black-bg.png") repeat scroll 0 0 #222222;
  float: left; 
  padding-right: 30px;
}

#city_improvements_panel {
  width: 100%;
}

#city_right_panel {
  float: right; 
  width: 55%;
  background: url("/images/black-bg.png") repeat scroll 0 0 #222222;
  height: 533px;
}


#freeciv_manual {  
  color: #ffffff;
  padding: 10px;
  
}

.manual-tab {
  background: #2e2f35;
  padding: 30px;
  overflow: auto;
}

#game_unit_orders_default {
  bottom: 25px;
  min-width: 300px;
  height: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#city_viewport {
  background: url("/images/black-bg.png") repeat scroll 0 0 #222222;
  overflow: auto;
}

#diplomacy_messages {
  background-color: #222222;
  min-height: 120px;
  max-height: 250px;
  overflow: auto;
  border-color: 1px solid;
  border: 1px solid #555555
  width: 100%;
}

#diplomacy_player_box_self {
  width: 50%;
  float: left;
  text-align:center;
}

#diplomacy_player_box_counterpart {
  width: 50%;
  float: left;
  text-align:center;
}

.ui-dialog {
  border: 1px #444444 solid;
}

#self_dipl_div {
  float: left;
  padding-left: 60px;
  text-align: left;
  z-index: 2000;
}

#counterpart_dipl_div {
  float: left;
  padding-left: 60px;
  text-align: left;
  z-index: 2000;
}

#dialog {
  max-height: 400px;
}

/* Research dialog. */

#technologies {
  clear: left;
  position: relative; 
  overflow: auto; 
  width: 100%;
}

#tech_info_box {
  float: left; 
  border: 1px solid rgb(153, 153, 153); 
  width: 1000px; 
  height: 40px; 
  padding: 4px; 
  margin: 2px; 
  margin-left: 0px; 
  background-color: rgb(34, 34, 34);
}

#tech_goal_box {
  float: left;
  font-weight: bold;
}

#tech_progress_box {
  float: left; 
  padding-left: 80px; 
  width: 280px;
}

#progress_bg {
  float: left;
  background-color: #bbbbbb; 
  width: 100%;
  border: 1px solid #ffffff;
}

#progress_fg {
  float: left; 
  width: 60%; 
  background-color: #5582c2;
}


#tech_results {
  float: left; 
  padding-left: 20px;
}


#nations {
  overflow: auto;
}

#city_name_req {
  width: 100%;
}

#civ_dialog {
  padding: 30px;
  margin: 20px;
  height: 500px;
  text-align: center;
}

/* Overrides to jquery-ui-1.8.9.custom.css */ 

.ui-widget-overlay {
  background: none repeat scroll 0 0 #000000;
  opacity: 0.65;
}

.ui-widget-content {
  background: url("/images/black-bg.png") repeat scroll 50% 50%;

}


#game_status_panel {
  position: absolute;
  color: #ffffff;
  height: 23px;
  text-align: center;
  bottom: 0px;
  background-color: #000000
  overflow: hidden;
}


.ui-dialog .ui-dialog-content {
  position: static;
}

#counterpart_dipl_add {
  z-index: 100;
}

#self_dipl_add {
  z-index: 100;
}


#city_change_production {
  height: 100%; 
  width: 100%; 
  background-color: #090909; 
  border: 1px solid #444444;
  
}

#city_present_units {
  height: 100px; 
  width: 90%; 
  overflow: auto; 
  background-color: #111111; 
  border: 1px solid #444444;
}

#city_improvements {
  height: 100px; 
  width: 90%; 
  overflow: auto; 
  background-color: #111111; 
  border: 1px solid #444444;
  padding: 3px;

}

#city_improvement_element {
  text-align: center; 
  color: #ffffff; 
  width: 70px; 
  cursor:pointer; 
  cursor:hand;
  float: left;
}


#production_list_item {
  float: left;
  text-align: center; 
  width: 80px;
  height: 90px;
}

#production_list_item_sub {
  cursor:pointer;
  cursor:hand;
  float:left; 
}

#unit_info_div {
  float:left; 
  padding-top: 10px; 
  padding-right: 20px;
}

#unit_info_image {
  cursor:pointer; 
  float: left; 
  padding-right: 10px;  
}

#city_production_overview {
  padding-top: 10px;
}

/* This is for popup menu support */
.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
	
.fg-button { font-size: 14px; clear:left; margin:0 4px 40px 20px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
.fg-menu-container {font-size: 14px;}
a.fg-button { float:left;  }
button.fg-button {  width:auto; overflow:visible; } /* removes extra button width in IE */
	
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	


.ui-dialog .ui-dialog-title {
  float: none;
}

.ui-dialog .ui-dialog-titlebar {
  padding-bottom: 14px;
  padding-left: 10px;
  padding-top: 3px;

}

#tabs_menu {
  overflow: hidden;
}

.chatbox_dialog {
  background: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0, 0.6);
}

#ui-dialog-title-game_chatbox_panel {
  margin-top: -5px;
  font-size: 10px;
}

.chatbox_dialog div.ui-dialog-titlebar {
  height: 5px;
}

.chatbox_dialog div.ui-dialog-content {
  padding: 5px 0;
}

.nation_button {
  font-size: 11px;
}

.specialist_item {
  float: left;
}
