#header {
	width: 760px; 
	background-image: url(/images/fb_header.png);
}


#header_menu {
	left: 50px; 
}


#container {
	width: 760px;
}

#body_content {
	margin-left: 0px; 
	width: 760px;  
}


#main_column {
	padding-left: 10px;
	padding-right: 10px; 
	width: 740px;  


}

.body_content {
  width: 700px;
}

.body_content .welcome_dialog {
  width: 650px;
}



.register .login_sector {
    width: 320px;
}

.register .login_sector_fb {
    width: 300px;
}
