body {
  background-image:url('../images/bg.jpg');

}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.jumbotron {
  text-align: center;
  padding-bottom: 10px;
  background:rgba(0,0,0,0.1);
  min-height: 350px;
  padding-top: 5px;
}

#main_text {
  float: left;
}

#top_logo {
  max-width: 212px;
  margin-top: -12px;
}

.searchbox {
  margin-bottom: -5px;
}

.nav>li>a {
  padding-left: 8px;
  padding-right: 8px;
}

#logo {
  padding: 10px;
  margin: 5px;
}

#logo img {
  width: 80%;
}

@media (max-width: 1160px) and (min-width: 768px) {
  .searchbox {
    display:none;
  }
}

@media (max-width: 700px) {
  #logo img {
    width: 100%;
  }
}



.running_game {
  font-weight: bold;
}

.pregame_with_players {
  color: green;
  font-weight: bold;
}

.private_game {
  color: grey;
}

table, th, td {
  border: 1px solid white;
}


.metatable {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
}

.blogposts {
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 200px;
}

.blogposts a {
  color: black;
}


.btn {
  margin: 4px;
  padding: 8px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#feedback_form {
  max-width: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0b527a !important;
    border-color: black;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #052c42 !important;
    border-color: black;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited {
    background-color: #005445 !important;
    border-color: black;
}