body { 
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 14px;
	margin: 0px 0px 0px 0px; 
	background-color: #000000;
}


#pregame_page {
  padding: 10px;
  background-color: #222222;
  width: 97%;
  float:left;
}


#pregame_options {
  background-color: #222222;
  width: 99%;
  height: 30px;
  padding: 10px;
  float: left;
}

#pregame_player_list {
  background-color: #222222;
  width: 18%;
  float: right;
  overflow: auto;
}

#pregame_player_name {
  padding: 5px;
  margin: 5px;
  background-color: #111111;
  color: #ffffff;
  float: left;
  height: 48px;
  width: 80%;
}

#pregame_message_area {
  background: #111111 url(/images/black-bg.png); 
  color: #ffffff;
  width: 80%;
  overflow: auto;
  float: left;
}

#pregame_player_icon {
  background: transparent url(/images/player-icon.png); 
  width: 24px; 
  height: 24px; 
  margin: 5px;
  float:left;
  
}

#pregame_ai_icon {
  background: transparent url(/images/ai-icon.png); 
  width: 24px; 
  height: 24px; 
  margin: 5px;
  float:left;
  
}  

#pregame_chat_box {
  width: 100%;
  height: 20px;
  float: left;
}

#pregame_text_input {
  width: 79%;
  padding: 5px;
  font-size: 16px;
}

#pregame_metamessage {
  width: 50%;
}


#nation_list {
  float: left; 
  height:400px; 
  overflow: auto; 
  width: 40%;
}

#nation_legend {
  float: left; 
  height: 380px; 
  overflow: auto; 
  padding: 10px; 
  width: 45%;
}

.nation_choice {
  width: 260px; 
  margin-left: 45px; 
  cursor:pointer;
  cursor:hand;
  font-weight: bold;

}

#nation_autocomplete_box {
  width: 210px; 
  background-color: #333333; 
  border:1px solid #000000; 
  color: white;

}

#nation_heading {
  padding: 3px; 
  padding-bottom: 10px; 
  width: 100%;
}

#nation_choice {
  float: right;
  font-size: 20px;
}


#pregame_buttons {
  float:left;
}

#share_icons {
  float:left;
  margin-left: 50px;
}
