/Makefile
/Makefile.in
/civclient
/freeciv-xaw
/freeciv-gtk3
/freeciv-gtk3x
/freeciv-gtk3.22
/freeciv-sdl2
/freeciv-qt
/freeciv-stub
/.deps
/freeciv.desktop
/freeciv-gtk3.22.desktop
/freeciv-sdl2.desktop
/freeciv-qt.desktop
/freeciv-gtk3.appdata.xml
/freeciv-gtk3.22.appdata.xml
/freeciv-sdl2.appdata.xml
/freeciv-qt.appdata.xml
/packhand_gen.c
/packhand_gen.h
