
; Modifying this file:
; You should not modify this file except to make bugfixes or
; for other "maintenance".  If you want to make custom changes
; you should create a new datadir subdirectory and copy this file
; into that directory, and then modify that copy.  Then use the
; command "rulesetdir <mysubdir>" in the server to have freeciv
; use your new customized file.

[datafile]
description="Multiplayer nations data for Freeciv"
options="+Freeciv-ruleset-Devel-2017.Jan.02 web-compatible"
format_version=20

; This section contains meta information for freeciv-ruledit to recreate the ruleset
; file in a form wanted. These have no in-game effect whatsoever
[ruledit]

; Nationlist to add include statement for. If this entry is omitted, all the nations
; will be saved to nations.ruleset itself.
nationlist = "default/nationlist.ruleset"

; List of nations to embed to main nations.ruleset despite separate nationlist
; being used for other nations.
embedded_nations = "barbarian", "pirate"

[compatibility]
; Initial government for all the nations that do not
; have it explicitly defined
default_government = "Despotism"

[default_traits]
; Default values for the AI traits. These are used if nation specific
; value for some trait has not been used. If these default too are
; not defined, the ultimate default is 50.
; <trait>_min and <trait>_max give the range from which the trait value
; is randomly chosen for a given AI player unless 'traitdistribution'
; server setting is 'FIXED'
; <trait>_default is the exaxt trait value used when 'traitdistribution'
; is 'FIXED'. If <trait>_default has not been given, it's set to the
; midpoint between <trait>_min and <trait>_max.

; Value of trait "expansionist" defines how much AI wants to settle new territory.
expansionist_min = 30
expansionist_max = 90
expansionist_default = 50

; Value of trait "trader" defines how much AI wants to establish trade routes.
trader_min = 30
trader_max = 90
trader_default = 50

; Value of trait "aggressive" defines how easily AI declares war.
aggressive_min = 30
aggressive_max = 90
aggressive_default = 50

; Please keep [ruledit] section in sync with these includes
*include "default/nationlist.ruleset"
; This ruleset uses model of two separate barbarian nations
*include "nation/barbarian.ruleset"
*include "nation/pirate.ruleset"
