# LOCATION:pbem/settings.ini
[Config]
smtp_login = #SMTP_LOGIN#
smtp_password = #SMTP_PASSWORD#
smtp_host = #SMTP_HOST#
smtp_port = #SMTP_PORT#
smtp_sender = #SMTP_SENDER#

mysql_user = #DB_USER#
mysql_database = #DB_NAME#
mysql_password = #DB_PASSWORD#

savegame_directory = /var/lib/tomcat10/webapps/data/savegames/pbem/
ranklog_directory = /var/lib/tomcat10/webapps/data/ranklogs/

host = #FCW_HOST#
