# LOCATION:freeciv-web/src/main/webapp/WEB-INF/config.properties
captcha_secret=#CAPTCHA_SECRET#
captcha_public=#CAPTCHA_PUBLIC#
savegame_dir=/var/lib/tomcat10/webapps/data/savegames/
email_username=#SMTP_LOGIN#
email_password=#SMTP_PASSWORD#
email_host=#SMTP_HOST#
email_port=#SMTP_PORT#
email_sender=#SMTP_SENDER#
google-signin-client-key=#GOOGLE_SIGNIN#
ga-tracking-id=#GADS#
trackjs-token=#TRACKJS#
map_token=#MAP_TOKEN#
fcw_host=#FCW_HOST#
