[Config]
save_directory = /var/lib/tomcat8/webapps/data/savegames/
start_longturn = false

[Resource usage]
server_capacity_single = 2
server_capacity_multi = 1
server_capacity_pbem = 1
server_limit = 250
