[Config]
#Freeciv savegames are stored in this directory
save_directory = /var/lib/tomcat10/webapps/data/savegames/

[Resource usage]
server_capacity_single = 2
server_capacity_multi = 1
server_capacity_pbem = 1
server_limit = 250
