[Config]
#Freeciv savegames are stored in this directory
save_directory = /var/lib/tomcat8/webapps/data/savegames/

# Activation of LongTurn games.
start_longturn = false

#list of server ports which are reserved for LongTurn.
longturn_server_ports=6003,6004,6005,6006,6007

[Resource usage]
server_capacity_single = 2
server_capacity_multi = 1
server_capacity_pbem = 1
server_limit = 250
