# Configuration used by the scripts and substituted in templates
#
# Keep in mind there's no escaping yet, so some characters like \ or "
# may be problematic in some variables.

# Freeciv-web database
DB_NAME=freeciv_web
DB_USER=$(id -run)
DB_PASSWORD=changeme

# This is the DB manager superuser password.
# Leave it blank to be asked for it when needed.
# The default value is random, which is OK only if you will never mess
# with the DB manager (in a dedicated vm for tests, like the travis install,
# for example), as reading the config again will give another value,
# so it won't be the correct one for this variable, and you are not notified
# of the first one.
DB_ROOT_PASSWORD=${RANDOM}${RANDOM}${RANDOM}

# Dependency service configuration
DEPENDENCY_SERVICES_START="./dependency-services-default-start.sh"
DEPENDENCY_SERVICES_STOP="./dependency-services-default-stop.sh"
