/Makefile.in
/Makefile
/.deps
/meta_fc_client.cpp
/meta_ratesdlg.cpp
/meta_mapview.cpp
/meta_menu.cpp
/meta_repodlgs.cpp
/meta_dialogs.cpp
/meta_optiondlg.cpp
/meta_citydlg.cpp
/meta_cityrep.cpp
/meta_helpdlg.cpp
/meta_plrdlg.cpp
/meta_diplodlg.cpp
/meta_spaceshipdlg.cpp
/meta_messagewin.cpp
/meta_chatline.cpp
/meta_messagedlg.cpp
/meta_voteinfo_bar.cpp
/meta_gotodlg.cpp
/meta_hudwidget.cpp
/meta_sidebar.cpp
/meta_shortcuts.cpp
