captcha_secret=#CAPTCHA_SECRET#
savegame_dir=/var/lib/tomcat8/webapps/data/savegames/
email_username=#SMTP_LOGIN#
email_password=#SMTP_PASSWORD#
email_host=#SMTP_HOST#
email_port=#SMTP_PORT#
email_sender=#SMTP_SENDER#
google-signin-client-key=#GOOGLE_SIGNIN#
ga-tracking-id=#GADS#
trackjs-token=#TRACKJS#
fcw_host=#FCW_HOST#
