<web-app xmlns="http://caucho.com/ns/resin">
  
  <database jndi-name='jdbc/freeciv_mysql'>
    <driver>
      <type>com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource</type>
      <url>jdbc:mysql://localhost:3306/freeciv_net</url>
      <user>root</user>
      <password>changeme</password>
    </driver>
  </database>
 <error-page>
    <error-code>404</error-code>
    <location>/file_not_found.jsp</location>
  </error-page>
 <rewrite-dispatch>
	  <forward regexp="/robots.txt" target="/robots.jsp"/>
 </rewrite-dispatch> 

  <session-config>
     <session-timeout>720</session-timeout>
  </session-config>
 
</web-app>
