<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Freeciv" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">



  <display-name>Freeciv-web Client</display-name>

  <!-- /civclientlauncher   (game launcher servlet) -->
  <servlet>
    <servlet-name>CivclientLauncher</servlet-name>
    <servlet-class>org.freeciv.servlet.CivclientLauncher</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CivclientLauncher</servlet-name>
    <url-pattern>/civclientlauncher</url-pattern>
  </servlet-mapping>


  <!-- /saveservlet -->
  <servlet>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>org.freeciv.servlet.SaveServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/saveservlet</url-pattern>
  </servlet-mapping>


  <!-- /loadservlet -->
  <servlet>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>org.freeciv.servlet.LoadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoadServlet</servlet-name>
    <url-pattern>/loadservlet</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.php</welcome-file>
  </welcome-file-list>

  

</web-app>
