<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Freeciv" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">



  <display-name>Freeciv-web Client</display-name>


  <resource-ref>
      <description>MySQL DB Connection</description>
      <res-ref-name>jdbc/freeciv_mysql</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>


  <!-- /civclientlauncher   (game launcher servlet) -->
  <servlet>
    <servlet-name>CivclientLauncher</servlet-name>
    <servlet-class>org.freeciv.servlet.CivclientLauncher</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CivclientLauncher</servlet-name>
    <url-pattern>/civclientlauncher</url-pattern>
  </servlet-mapping>

  <!-- /listsavegames -->
  <servlet>
    <servlet-name>ListSaveGames</servlet-name>
    <servlet-class>org.freeciv.servlet.ListSaveGames</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ListSaveGames</servlet-name>
    <url-pattern>/listsavegames</url-pattern>
  </servlet-mapping>

  <!-- /create_pbem_user   (new useraccount) -->
  <servlet>
    <servlet-name>NewPBEMUser</servlet-name>
    <servlet-class>org.freeciv.servlet.NewPBEMUser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NewPBEMUser</servlet-name>
    <url-pattern>/create_pbem_user</url-pattern>
  </servlet-mapping>

  <!-- /login_user   -->
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>org.freeciv.servlet.LoginUser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/login_user</url-pattern>
  </servlet-mapping>

  <!-- /validate_user   -->
  <servlet>
    <servlet-name>ValidateUser</servlet-name>
    <servlet-class>org.freeciv.servlet.ValidateUser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ValidateUser</servlet-name>
    <url-pattern>/validate_user</url-pattern>
  </servlet-mapping>

  <!-- /random_user   -->
  <servlet>
    <servlet-name>RandomUser</servlet-name>
    <servlet-class>org.freeciv.servlet.RandomUser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RandomUser</servlet-name>
    <url-pattern>/random_user</url-pattern>
  </servlet-mapping>

  <!-- /user_count   -->
  <servlet>
    <servlet-name>UserCount</servlet-name>
    <servlet-class>org.freeciv.servlet.UserCount</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserCount</servlet-name>
    <url-pattern>/user_count</url-pattern>
  </servlet-mapping>


  <!-- /deactivate_user   -->
  <servlet>
    <servlet-name>DeactivateUser</servlet-name>
    <servlet-class>org.freeciv.servlet.DeactivateUser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeactivateUser</servlet-name>
    <url-pattern>/deactivate_user</url-pattern>
  </servlet-mapping>


  <!-- /deletesavegame -->
  <servlet>
    <servlet-name>DeleteSaveGame</servlet-name>
    <servlet-class>org.freeciv.servlet.DeleteSaveGame</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteSaveGame</servlet-name>
    <url-pattern>/deletesavegame</url-pattern>
  </servlet-mapping>

   <!-- /freeciv_time_played_stats   -->
  <servlet>
    <servlet-name>FreecivStatsServlet</servlet-name>
    <servlet-class>org.freeciv.servlet.FreecivStatsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FreecivStatsServlet</servlet-name>
    <url-pattern>/freeciv_time_played_stats</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>buildTimeStamp</param-name>
    <param-value>${timestamp}</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.php</welcome-file>
  </welcome-file-list>

  

</web-app>
