<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Freeciv" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">



    <display-name>Freeciv Web Client</display-name>

 

  
  <filter>
    <filter-name>Compress</filter-name>
    <filter-class>freeciv.filter.CompressFilter</filter-class>
  </filter>
  
  <filter-mapping>
      <filter-name>Compress</filter-name>
      <url-pattern>/javascript-compressed*</url-pattern>      
   </filter-mapping>

  <filter-mapping>
      <filter-name>Compress</filter-name>
      <url-pattern>/stylesheets*</url-pattern>      
   </filter-mapping>


 <!-- Civclient launcher servlet -->
  <servlet>
    <servlet-name>CivclientLauncher</servlet-name>
    <servlet-class>freeciv.launcher.CivclientLauncher</servlet-class>
  </servlet>

 <servlet-mapping>
    <servlet-name>CivclientLauncher</servlet-name>
    <url-pattern>/civclientlauncher</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.php</welcome-file>
  </welcome-file-list>

  

</web-app>
